# This file specifies who "owns" the different ampycloud code bits.
# These users will be automatically asked to review changes to these files in pull requests.
#
# Order is important; the **last** matching pattern takes the most precedence.
# For more info, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
#

# All the Github actions and gimmicks
.github/                @smart
.pylintrc               @smart
CODE_OF_CONDUCT.md      @smart
CONTRIBUTING.md         @smart
LICENSE                 @smart
README.md               @smart

# All the docs
docs/                   @smart

# All the code
src/                    @smart
